/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	margin-top: 3%;
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	display: flex;
	justify-content: center;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;

}

.filter {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	margin: 50px 0;
}

.btnFilter {
	margin-left: 4%;
	display: flex;
	justify-content: center;
	gap: 1%;
}

.buttonName {
	border: 1px #1D6154 solid;
	border-radius: 60px;
	background: #fff;
	font-family: "Syne", sans-serif;
	font-weight: 700;
	font-size: 16px;
	height: 25px;
	text-align: center;
	padding: 3px 20px;
	cursor: pointer;
}

.selected {
	background-color: #1D6154;
	color: #fff;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 5%;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/***********Page Login**********/
#login {
	width: 75%;
	margin: auto;
}

.login__form {
	width: 37%;
	margin: auto;
	color: #3D3D3D;
	display: flex;
	align-items: baseline;
	flex-direction: column;
}

h2 {
	margin-bottom: 20px;
}

input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: 379px;
}

label {
	margin: 2em 0 1em 0;
}


a {
	text-align: center;
	color: #3D3D3D;

}

/***********page modifier***********/
* {
	box-sizing: border-box;
}

.edition {
	background-color: #000;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.edition p {
	color: white;
}

nav {
	display: flex;
	justify-content: end;
	margin-top: -3%;
}

.portfolio__modal {
	display: flex;
	justify-content: center;
	align-items: baseline;
	gap: 1%;
}


#modal a {
	display: flex;
	color: yellow;
}


.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
	border-radius: 20px;
	height: auto;
	background-color: white;
}

.modal_gallery {
	width: 500px;
	height: 370px;
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin-left: 3%;
	padding: 6%;
}

.modal_gallery figure {
	width: 63%;
}

.modal_gallery img {
	width: 67px;
	height: 95px;
}

.modal_gallery figcaption {
	display: none;
}

.js-modal-close {
	margin-top: 3%;
	margin-left: 90%;
	background: white;
}

.js-modal-close img {
	border: #fff;
}

#titlemodal {
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.delete-picture {
	display: flex;
	justify-content: center;
	margin-bottom: 5%;
}

.btnDelete {
	border: 1px #1D6154 solid;
	border-radius: 60px;
	background: #1D6154;
	color: white;
	font-family: "Syne", sans-serif;
	font-weight: 700;
	font-size: 13px;
	width: 237px;
	height: 35px;
	text-align: center;
	padding: 3px 20px;
	cursor: pointer;
}