/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	margin-top: 3%;
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	display: flex;
	justify-content: center;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

link {
	display: none;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;

}

/*.modify a {
	display: none;
}*/

/*#modify {
	display: none;
}

#modifier-introduction {
	display: none;
}


.modal-btn {
	display: none;
}

#modify-projets {
	display: none;

}*/

.filter {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	margin: 50px 0;
}

.btnFilter {
	margin-left: 4%;
	display: flex;
	justify-content: center;
	gap: 1%;
}

.buttonName {
	border: 1px #1D6154 solid;
	border-radius: 60px;
	background: #fff;
	font-family: "Syne", sans-serif;
	font-weight: 700;
	font-size: 16px;
	height: 17px;
	text-align: center;
	padding: 3px 20px;
	cursor: pointer;
}

.selected {
	background-color: #1D6154;
	color: #fff;
}

.gallery {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 5%;
	margin-left: 5%;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/***********Page Login**********/
#login {
	width: 75%;
	margin: auto;
}

.login__form {
	width: 37%;
	margin: auto;
	color: #3D3D3D;
	display: flex;
	align-items: baseline;
	flex-direction: column;
}

h2 {
	margin-bottom: 20px;
}

input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: 379px;
}

label {
	margin: 2em 0 1em 0;
	display: flex;
}


a {
	text-align: center;
	color: #3D3D3D;

}

/**************Page Modifier****************/
.edit-text {
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: center;
	gap: 2%;
	padding: 15px;
}

#portfolio {}

.modify {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 15px;
}

.openModal1 {
	display: flex;
	gap: 8px;
	padding: 9px;
}

.modifyEdition {
	background-color: black;
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 25px;
}

#intro__modify {
	margin: 10px 0 0 60px;
}

#modify__projets {
	cursor: pointer;
	margin-left: 30px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}

#modify__projects i {
	margin-right: 5px;
}


/*** MODAL ***/
.modal-container,
.modal-container1 {
	width: 100vw;
	max-width: 1140px;
	height: 100vh;
	/* Position */
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*icone croix fermer modal*/
.fa-xmark:before {
	margin-right: 10px;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
	position: absolute;
	background: #fff;
	width: 95%;
	max-width: 500px;
	min-width: 300px;
	padding: 20px;
	border-radius: 10px;
}

.modal-wrapper h3 {
	font-family: "Work Sans";
	color: black;
	font-weight: 400;
	font-size: 26px;
	text-align: center;
}

.modal_gallery {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin-left: 3%;
	padding: 6%;
	border-bottom: solid 1px #b3b3b3;
}

.modal_gallery figure {
	width: 63%;
	position: relative;
}

.modal_gallery img {
	width: 67px;
	height: 95px;
}

.validate-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

/***Modal 2 ***/

#choose__category label {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: 379px;
}



/** GESTION DES icones **/
.btn__delete {
	width: 17px;
	height: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: -15px;
	top: 7px;
	background-color: black;
	border-radius: 2px;
	border: none;
}

.fa-xmark {
	cursor: pointer;
	background: none;
	border: none;
	position: absolute;
	top: 15px;
	right: 10px;
	color: #000;
}

.fa-trash-can {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}

#add__picture {
	background-color: #E8F1F6;
	margin-top: 5%;
	padding-bottom: 5%;
}

#add__picture .fa-regular {
	display: flex;
	justify-content: center;
	font-size: 50px;
	margin-top: 15px;
}

#add__picture label {
	display: flex;
	justify-content: center;
	border: 1px #CBD6DC solid;
	border-radius: 60px;
	background: #CBD6DC;
	color: #306685;
	font-family: "Syne", sans-serif;
	font-weight: 700;
	font-size: 13px;
	width: 190px;
	height: 30px;
	align-items: center;
	text-align: center;
	padding: 3px 20px;
	margin-left: 130px;
	cursor: pointer;
}

#size__picture {
	display: flex;
	justify-content: center;
}

#validate__modal2 {
	display: flex;
	background-color: #A7A7A7;
	justify-content: center;
	border: 1px #A7A7A7 solid;
	border-radius: 60px;
	color: #fff;
	font-family: "Syne", sans-serif;
	font-weight: 700;
	font-size: 13px;
	width: 190px;
	height: 30px;
	align-items: center;
	text-align: center;
	padding: 3px 20px;
	margin-left: 160px;
	margin-top: 50px;
	cursor: pointer;
}


/** GESTION DES MESSAGES **/
.modal .validate__modal {
	display: flex;
	justify-content: center;
	align-items: center;
}

.validate__modal {
	width: 237px;
	height: 36px;
}

#validate__modal {
	border: 1px #1d6154 solid;
	border-radius: 60px;
	background: #1d6154;
	color: white;
	font-family: "Syne", sans-serif;
	font-weight: 700;
	font-size: 13px;
	width: 237px;
	height: 35px;
	text-align: center;
	padding: 3px 20px;
	cursor: pointer;
}